﻿<div class="welcome-box">
    <h2>Welcome to pizzaStore!</h2>
</div>

<div>

    <div class="tabs">
        <div class="tabs__item tabs__item--active" id="all-pizzas">
            <h2>All pizzas</h2>
            <ul class="all-pizzas">
                <li class="pizza__item">
                    <h3></h3>
                </li>
            </ul>
        </div>
        <div class="tabs__item" id="search-pizza">
            <h2>Search by ID</h2>
            <input type="text" id="prodId" size="5" />
            <input type="button" value="Search" onclick="find();" />
            <p id="pizza" />
        </div>
    </div>
    



</div>


<script src="http://ajax.aspnetcdn.com/ajax/jQuery/jquery-2.0.3.min.js"></script>
<script>

    



    



  
    $(document).ready(function () {


        function tabsMenu() {

            var $tabsItem = $('.tabs__item');
            var $tabsMenuItem = $('.tabs-menu__item__link');


            function getTab(el) {

                var href = $(el).attr('href');

                return href;

            }


            $tabsMenuItem.click(function () {

                $tabsItem.removeClass('tabs__item--active');
                var tabHref = getTab(this);
                $(tabHref).addClass('tabs__item--active');

            });

        }

        tabsMenu();

        
        var uri = 'http://localhost:52151/api/Pizza/GetAll';
        
      $.getJSON(uri)
          .done(function (data) {
            $.each(data, function (key, item) {
              $('<p>', { text: formatItem(item) }).appendTo($('.all-pizzas'));
            });
          });
    });

    function formatItem(item) {
      return item.Id + ': $' + item.Price;
    }

    function find() {
      var id = $('#prodId').val();
      $.getJSON(uri + '/' + id)
          .done(function (data) {
            $('#pizza').text(formatItem(data));
          })
          .fail(function (jqXHR,  textStatus, err) {
            $('#pizza').text('Error: ' + err);
          });
    }
</script>

