﻿body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}
.navbar-inverse { background: green; }
.navbar-inverse a { color: #fff; }


.tabs-menu { float: right; }
.tabs-menu__item__link { color: #fff; }

.welcome-box { padding: 50px 0 80px; }



.tabs__item { max-height: 0; overflow: hidden; transition: max-height 0.05s; }
.tabs__item--active { max-height: 1000px; transition: max-height 1s; }